<h1>{{titulo}}</h1>

<app-heroes></app-heroes>

<h2>{{hero}}</h2>

<div class="heroes-list">
  <ul>
    <li class="hero-item">
      <span>Heroe 1</span>
      <button class="style-button" (click)="applyStyle('red', '10px')">Aplicar Estilo</button>
    </li>
    <li class="hero-item">
      <span>Heroe 2</span>
      <button class="style-button" (click)="applyStyle('blue', '5px')">Aplicar Estilo</button>
    </li>
    <li class="hero-item">
      <span>Heroe 3</span>
      <button class="style-button" (click)="applyStyle('green', '8px')">Aplicar Estilo</button>
    </li>
  </ul>
</div>
